<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>CodeMarket</title>
        <style type="text/css">
            body { 
                background: rgb(75,75,75);
                margin: 0;
            }
            div.navbar ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
            }
            div.navbar li { float: left; }
            div.navbar li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            div.navbar li a:hover { background-color: #111; }
        </style>
    </head>
    <body>
        <div class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/vendors">Market</a></li>
            </ul>
        </div>
        <div class="app">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>