<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>CodeMarket</title>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
        <style type="text/css">
            body { 
                background: rgb(75,75,75);
                margin: 0;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }
            h1 {
                font-family: 'VT323', monospace;
                font-size: 70px;
                margin: 5px;
            }
            h2 {
                font-family: 'VT323', monospace;
                font-size: 30px;
                margin: 5px;
            }
            h3 {
                font-family: 'VT323', monospace;
                font-size: 20px;
                margin: 5px;
            }
            a {
                text-decoration: none;
                text-align: center;
                color: black;
            }
            a:visited { 
                text-decoration: none;
                color: black;
            }
            a.button {
                background-color: rgb(65, 65, 65);
                border-radius: 5px;
                border: none;
                float: left;
                font-size: 20px;
                padding: 14px;
                margin: 6px;
            }
            div.app {
                margin: 8px;
            }
            div.form {
                background: rgb(95,95,95);
                display: inline-block;
                padding: 8px;
                border-radius: 5px;
                margin: 5px;
                width: 250px;
            }
            div.navbar ul {
                background-color: #333;
            }
            div.navbar li { 
                float: left; 
            }
            div.navbar li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            div.navbar li a:hover { background-color: #111; }
            div.navbar li.ticker {
                display: block;
                float: right;
                text-align: center;
                padding: 14px 16px;
                color: white;
                width: calc(100% - 280px);
                text-decoration: none;
                overflow: hidden;
            }
            div.response {
                background: rgb(95,95,95);
                display: inline-block;
                padding: 8px;
                border-radius: 5px;
                margin: 5px;
                width: auto;
            }
            div.row { height: 25px; }
            div.ticker {
                width: auto;
                overflow: hidden;
            }
            div.ticker-wrap {
                width: 100%;
                padding-left: 100%;
            }
            @keyframes ticker {
                0% { transform: translate3d(0,0,0); }
                100% { transform: translate3d(-100%,0,0); }
            }
            div.ticker-move {
                display: inline-block;
                white-space: nowrap;
                padding-right: 100%;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-name: ticker;
                animation-duration: 15s;
            }
            div.ticker-move:hover { animation-play-state: paused; }
            div.ticker-item{
                display: inline-block;
                padding: 0 2rem;
                padding: 14px 16px;
                color: white;
            }
            input { float: right; }
            input[type=submit] {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                border-radius: 3px;
                font-family: 'VT323', monospace;
                font-size: 35px;
            }
            span.output { float: right; }
        </style>
    </head>
    <body>
        <div class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/vendors">Market</a></li>
                <li><a href="/purchase">Purchase</a></li>
                <div class="ticker"><div class="ticker-wrap"><div class="ticker-move">
                    <div class="ticker-item">
                        This is a ticker. Good info will be <strong style="color:lime">green</strong> and bad info will be <strong style="color:red">red</strong>.
                    </div>
                </div></div></div>
            </ul>
        </div>
        <div class="app">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>