<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>CodeMarket</title>
        <style type="text/css">
            body { 
                background: rgb(75,75,75);
                margin: 0;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            a {
                text-decoration: none;
                text-align: center;
            }
            a:visited { 
                text-decoration: none;
                color: black;
            }
            a.button {
                background-color: rgb(65, 65, 65);
                border-radius: 5px;
                border: none;
                float: left;
                font-size: 20px;
                padding: 14px;
                margin: 6px;
            }
            div.navbar ul {
                background-color: #333;
                overflow: hidden;
            }
            div.navbar li { float: left; }
            div.navbar li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            div.navbar li a:hover { background-color: #111; }
        </style>
    </head>
    <body>
        <div class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/vendors">Market</a></li>
            </ul>
        </div>
        <div class="app">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>