{% extends "base" %}

{% block content %}
    <h1>The Rust Market</h1>
    <h2>Here we sell Rust primitives for bits</h2>
    <h3>Available Vendors:</h3>
    <div class="btn-group">
        {% for u in urls -%}
            <a href="/vendors/{{ u }}"><button><h3>{{names[loop.index0]}}</h3></button></a>
        {% endfor -%}
    </div>
{% endblock content %}