a {
    color: black;
    text-align: center;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

.app {
    margin: 8px;
}

body {
    background: rgb(75, 75, 75);
    margin: 0;
}

.btn-group {
    width: 20%;
}

.btn-group button {
    background-color: rgb(65, 65, 65);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 20px;
    margin: 6px;
    padding: 14px;
    width: 100%;
}

.btn-group button:hover {
    background-color: rgb(60, 60, 60);
}

.centered {
    text-align: center;
}

div.graph-container {
    display: flex;
    flex-direction: row;
}

div.graph-canvas {
    background-color: white;
    border-color: whitesmoke;
    border-radius: 5px;
    flex: 70%;
    height: 70vh;
    margin: 5px;
    margin-left: 12px;
    overflow: hidden;
    padding: 8px;
}

.flex-30 {
    flex: 30%;
}

div.navbar ul {
    background-color: #333;
}

div.navbar li {
    float: left;
}

div.navbar li a {
    color: white;
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

div.navbar li a:hover {
    background-color: #111;
}

div.ticker-move {
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-name: ticker;
    animation-timing-function: linear;
    display: inline-block;
    padding-right: 100%;
    white-space: nowrap;
}

div.ticker-move:hover {
    animation-play-state: paused;
}

.form {
    background: rgb(95, 95, 95);
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    padding: 8px;
    width: 250px;
}

h1, h2, h3 {
    display: inline-block;
    font-family: 'VT323', monospace;
}

h1 {
    font-size: 70px;
    margin: 5px;
}

h2 {
    font-size: 30px;
    margin: 5px;
}

h3 {
    font-size: 20px;
    margin: 5px;
}

input {
    float: right;
}

input[type=submit] {
    border-radius: 3px;
    display: block;
    font-family: 'VT323', monospace;
    font-size: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.output {
    float: right;
}

.response {
    background: rgb(95, 95, 95);
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    padding: 8px;
    width: auto;
}

.row {
    height: 25px;
}

@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker {
    overflow: hidden;
    width: auto;
}

.ticker-wrap {
    background: black;
    border-radius: 3px;
    padding-left: 100%;
    width: 100%;
}

.ticker-item {
    color: white;
    display: inline-block;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    padding: 14px 16px;
    transform: scale(.75, 1);
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}