body {
    background: rgb(75, 75, 75);
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    font-family: 'VT323', monospace;
    font-size: 70px;
    margin: 5px;
}

h2 {
    font-family: 'VT323', monospace;
    font-size: 30px;
    margin: 5px;
}

h3 {
    font-family: 'VT323', monospace;
    font-size: 20px;
    margin: 5px;
}

a {
    text-decoration: none;
    text-align: center;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

.button {
    background-color: rgb(65, 65, 65);
    border-radius: 5px;
    border: none;
    float: left;
    font-size: 20px;
    padding: 14px;
    margin: 6px;
}

.app {
    margin: 8px;
}

.form {
    background: rgb(95, 95, 95);
    display: inline-block;
    padding: 8px;
    border-radius: 5px;
    margin: 5px;
    width: 250px;
}

div.navbar ul {
    background-color: #333;
}

div.navbar li {
    float: left;
}

div.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.navbar li a:hover {
    background-color: #111;
}

.response {
    background: rgb(95, 95, 95);
    display: inline-block;
    padding: 8px;
    border-radius: 5px;
    margin: 5px;
    width: auto;
}

.row {
    height: 25px;
}

.ticker {
    width: auto;
    overflow: hidden;
}

.ticker-wrap {
    width: 100%;
    padding-left: 100%;
    background: black;
    border-radius: 3px;
}

@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

div.ticker-move {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 25s;
}

div.ticker-move:hover {
    animation-play-state: paused;
}

.ticker-item {
    display: inline-block;
    padding: 0 2rem;
    padding: 14px 16px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    transform: scale(.75, 1);
}

input {
    float: right;
}

input[type=submit] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 3px;
    font-family: 'VT323', monospace;
    font-size: 35px;
}

.output {
    float: right;
}