{% extends "base" %}

{% block content %}
    <h1>{{ vendor.name }}</h1>
    <p>{{catchphrase_generator()}}</p>
    <br/>
    <ul>
        {% for item in vendor.items -%}
            <li>
                <p><strong>{{ item.name }}:</strong> {{ item.price }}</p>
            </li>
        {% endfor -%}
    </ul>
{% endblock content %}